.wrapper {
  margin: 5px;
}

body {
  background-image: url(https://www.kastapp.co/images/gradient-violet-bg.jpg);
  background-size: center;
}
h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  font-family: Snell Roundhand, cursive, Helvetica, sans-serif;
}
h1 {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h3 {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
h4 {
  color: white;
  text-align: center;
}
h3 {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
background {
  color: white;
}

.topnav {
  background-color: transparent;
  width: 100%;
  top: 0;
}

#logo {
  height: 100px;
  width: 250px;
}

.navlink {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  font-size: 18px;
  float: right;
  font-family: "Lucida Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#linkit {
  margin-top: -70px;
}

#landingDiv {
  width: 40%;
  margin-left: 30%;
  text-align: center;
  margin-top: 10%;
}

#laptop {
  width: 700px;
  height: 400px;
  margin-left: -20%;
}

#openButton {
  background-color: orange;
}
div class {
  text-align: center;
}
#feat {
  color: black;
  margin-left: -5%;
  font-size: 25px;
}
#quote {
  text-align: center;
  margin-right: 20%;
}
#logoimage {
  height: 70%;
  width: 50%;
  margin-left: 25%;
}
#bottomDiv {
  background-color: white;
  width: 100%;
  height: 60%;
}

.flex-container {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: space-between;
}

.box2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
#showrooms {
  color: white;
  text-decoration: none;
}
#account {
  color: white;
  text-decoration: none;
}
.box3 {
  display: flex-end;
  justify-content: space-around;
  margin-top: 15px;
}
.rightMainNav {
  padding: 15px;
  color: white;
  text-decoration: none;
}
.box4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

#logogrid {
  display: flex;
  height: 400px;
  margin-left: 17.5%;
  width: 65%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.otherlogos {
  margin-left: 4px;
  margin-right: 4px;
}

.quote {
  margin-left: 30%;
}

.text-block-2 {
  margin-left: 60%;
}

